include u
!!! 5
html(lang="en")
    head
        title OBJECT
        link(rel="stylesheet", href="/bs.css")
        link(rel="stylesheet", href="/bs-t.css")
        link(rel='stylesheet', href="/style.css")
        script(src="/underscore.js")
        script(src="/jq.js")
        script(src="/bs.js")
        script(src="/cjs.js")
        script(src="/socket.io/socket.io.js")
        +s('gx')
    body.sort
        .container
            block c


