include mixins
mixin manifest
!!! 5
html(lang="en")
    head

        title Stuff
        meta(name="viewport", content="width=device=width, initial-scale=1.0")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="/underscore.js", type="text/javascript")
        script(src="http://code.createjs.com/createjs-2013.09.25.min.js")
        script(src="/utils.js")
        script(src="/socket.io/socket.io.js")
        link(rel='stylesheet', href='/stuff.css')
    block content

