include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    
        +css('bs')
        +css('bs-theme')
        
        +S(['us', 'string', 'moment', 'superJs', 'gee', 'console', 'both'])
        
        +S([ 'jq', 'jQueryPlus', 'frontOb', 'defs'])
        +S(['bs', 'boot4', 'bootButtons', 'bs4More' ,   'dropdown', 'navbar'])
        
        +S(['superJQuery', 'superJQuerySty', 'superJQueryAnim', 'rules'])
        
        +S(['handy', 'handyInputs', 'handyCanvas', 'handyDivs', 'handyEl', 'handyImage', 'handyIpsum', 'handyLists', 'handyNest', 'handyText' ])
        +S(['superWebApps', 'flexApps'])
        +S(['cjs', 'cjsMC'])
        +S(['bb','bbBase', 'bbCore', 'bbEvent', 'bbModel', 'bbRoute', 'bbRtr', 'bbView', 'perfect'])
        +S(['gpc', 'gpcApp0', 'clipperBase', 'clipper'])
        +S(['superCanvas' ])
        
        +S(['superContext2D', 'ctxColor', 'ctxPaths','ctxTransform', 'drawImage','gradients','pixels', 'polyCtx'])
        
        +S(['canApps' ,'ctxApps' ])
       
        //+S(['create', 'cjsLQ', 'easel', 'paths', 'easelShape', 'bitmapFill', 'tween', 'sprite', 'movie', 'anims'])
        //+S(['createApps', 'queueApps', 'cjsAnimApps', 'mcApps', 'matrixApps', 'easelGpc'])


     
        +loadApps(app, pam)
        
    body
        h1 jade worked
         