//<?php header("Cache-Control: no-cache, must-revalidate"); session_start(); ?>
 
head
    META(HTTP-EQUIV="Pragma", CONTENT="no-cache")


html
    head
        title dirtpage: #{topic.topic}
        meta(http-equiv="Content-Type", content="text/html, charset=UTF-8")
        link(rel="stylesheet", href="http://www.dirtpage.com/resources/styles.css", type="text/css")
    body
        #everything
        #header
            include header.php
 
        #holder


// EVERYTHING
if (!isset($_GET['mode'])){ include_once("divfillers/items.php"); }

        // RESPONSES --if (($_GET['mode']) == 'message' && isset($_GET['message'])){include_once("divfillers/message.php"); }
        // CAPTIONS --if (($_GET['mode']) == 'picture' && isset($_GET['picture'])) {include_once("divfillers/picture.php"); }
        // tags -- if (($_GET['mode']) == 'tags' ){include_once("divfillers/tags.php"); }

        #right
            include /divfillers/right.php

        #footer

    script(type="text/javascript", src="http://www.dirtpage.com/resources/jq.js")
    script(type="text/javascript", src="http://www.dirtpage.com/resources/jsfunctions.js")
    .script
         $.ajaxSetup({ cache: false })
         setInterval( "refresh1()", 10000 )  // 10 seconds
         $(function() {refresh1 = function(){ $.get("/divfillers/right.php", function(data) {$('#right').html(data)  })}})
