body

    h1 search
    h2 you searched for #{topic}

    if isTopic
        p it exists - #{numMessages} messages -
            a(href='/page/'+ topic) go to page?
    else
        p it does not exist - create it?

    br
    br


    script(type="text/javascript", src="/jq.js")

