include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
            _app = wappyApp = '#{app}'
            _pam = wappyPam = '#{pam}'
            console.log('in wap.jade')
        
        +css('bs3')
        +css('thDf3')
        +superWeb
    
        
       
        +S(["socket.io/socket.io"])
        
        
        
        +S(['muggy'])
        +S([ 'muggyApps'])
        +S(['bs3', 'boot', 'boot4core', 'dropdown', 'navbar', 'bs4More'])
    body
        