include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    
        +S(['us', 'string', 'moment', 'superJs', 'gee', 'console', 'both'])
        +S([ 'jq', 'jQueryPlus', 'frontOb', 'defs'])
        +S(['superJQuery', 'superJQuerySty', 'superJQueryAnim', 'handy', 'handyInputs', 'rules', 'superWebApps'])
        +S(['cjs', 'cjsMC'])
        
        
        
        //+S(['gpcas', 'gpcasTwo', 'gpcasThree', 'polyMath', 'superContext2D', 'cxGpc', 'cxApps', 'superCanvas', 'canApps'])
        //+S(['create', 'cjsLQ', 'easel', 'paths', 'easelShape', 'bitmapFill', 'tween', 'sprite', 'movie', 'anims'])
        //+S(['createApps', 'queueApps', 'cjsAnimApps', 'mcApps', 'matrixApps', 'easelGpc'])

        +S(['superCanvas','canApps'])
        
        
        //+loadApps(app, pam)
        
    body
        h1 jade worked
         