extends ../l/ly
block C
    +bff
    .row
        .col-md-3
        .col-md-6
            h1.text-center worky
            form.h2.sort(method='post',action='/newBook')
                span new book:
                input.input-small.text-center(name='t',type='text',placeholder='...')
                &nbsp
                button(type='submit') &nbsp &nbsp
            h1 books:
            each b in B
                form(method='POST',action='/delBook/#{b.title}')
                    input(type='hidden',name='hi',value='hi')
                    button(type='submit') x
                    a.h2(href='/worky/'+b.t) &nbsp #{b.t}
            h6.well #{B}
        .col-md-3