body

    button(onclick="window.location='/admin'") admin
    br
    input#search(type='text')
    button#search('data-topic'=topic) search


    h1 topic page!
    h2 topic: #{ topic }
    h2 this many messages: #{numMessages}

    input#newMessage(type='text')

    button#newMessage('data-topic'=topic) new message

    h1 messages

    each message in messages
        h4 #{message.message} - #{message.score}

            span -
            a.up(href='#', 'data-message'=message.message)  up

            span -
            a.down(href='#', 'data-message'=message.message) down



    script(type="text/javascript", src="/jq.js")

    script(type="text/javascript", src="/page.js")
