include l/u
include l/m

+css('bs')
+css('themes')

+S(['hb',"us","jq",'jqueryplugins',"bs","cjs","socket.io/socket.io","string","string",'bb','bbmn', 'ph2','bx'  ])

+S(['ko','mel','gq'])
+S(['objects','glossary','core','dim', 'html','dv','buts','inputs','images','struct','boot','ui' ,'can','sprite','sys'])
+S(['easelplugins','easel','do','stage','shape','timeline','movieClip','toolkit','time','event','socket','commSocket','ranky'])
+S(['filt','math','move','draw', 'defaultMug',   'routeTests', 'nav','ql','api','knock' ,'angu', 'bbtemps','backbone1','people','mar'])
+S(['pics','create','animate','imagine','work','tween','tw0','universe','melon','gquery','ph','phaser0','phaser','ninja','j3','invaders','display','three'])
+S(['solve','play','users','share','chat' ,'messages', 'boxWorld',  'boxSetup','boxShapes',    'boxRev','weld','prism','coll','gamey','pong','easelbox','joints','wheel' ,'backbone','emitter','p2fiddle','ragdoll','p2constraints','unigame','tilemapping','launcher','fullgames','p2physics'])



p hello



mixin wow(person)
    p goodbye #{person}


+wow('sfd')
+wow





