include l/u
include l/m

!!! 5
html(lang="en")

    head

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        +css('bs')
        +css('themes')
        +S(["us","jq","bs","cjs","socket.io/socket.io","string"])
        +S(['objects','glossary','core','qq'])
        +S(['boot','elements','input'])
        +S(['xx','create'])

    body


























