include l/u
include l/m
include l/t

!!! 5
html(lang="en")

    head

        meta(  name="viewport", content="width=device-width, initial-scale=1.0"  )


        +S(["us","jq",'jqueryplugins',  "bs",  "cjs", "socket.io/socket.io", "string",  "string",  'bx'  ])



        +S(['objects','glossary','core','dim','qq','html','images' ,'xx','can' ])

        +S(['easel', 'do','stage',  'event' ])

        +S([ 'math', 'nap'])

        +S([  'boxWorld', 'boxShapes','boxSetup', 'joints', 'boxRev','wheel'  ])



        body



























