include l/u
include l/m
include l/t

!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.

          _app = wappyApp = '#{app}'

          _pam = wappyPam = '#{pam}'

        +css('bs')

        +css('themes')

        +S(["us","jq",'jqueryplugins',"bs","cjs","socket.io/socket.io","string","string",'bb','bbmn', 'ph2','bx'  ])

        +S(['ko','mel','gq'])

        +S(['objects','glossary','core','dim','qq','html','dv','buts','inputs','images','struct','boot','ui','xx','can','ss','sys'])

        +S(['easel','do','stage','shape','time','event','socket','commSocket','ranky'])

        +S(['filt','math','move','draw','uiapp','nav','ql','api','knock' ,'angu', 'bbtemps','backbone1','people','mar'])

        +S(['pics','create','animate','imagine','work','tween','tw0','universe','melon','gquery','ph','phaser0','phaser','ninja','j3','invaders','display','three'])

        +S(['solve','play','share','chat','gun' ,'messages', 'boxWorld',  'boxSetup','boxShapes',    'boxRev','weld','prism','coll','gamey','pong','easelbox','joints','wheel' ,'backbone','emitter','p2fiddle','ragdoll','p2constraints','unigame','tilemapping','launcher','fullgames','p2physics'])

        +S(['orbs'])

        body



























