include l/u
include l/m


!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.

          _app = wappyApp = '#{app}'

          _pam = wappyPam = '#{pam}'

        +css('bs')

        +css('themes')



        //deps
        +S(['hb',"us","jq","bs","cjs","socket.io/socket.io","string", 'bb','bbmn', 'ph2','bx','b2dbasics','b2dutils'  ])
        +S(['ko','mel','gq'])


        //base and libs
        +S(['objects',   'spriteSheets','core', 'jqueryplugins', 'html', 'boot','ui' ,'can','sys',  'images'])


        +S(['easel', 'displayObject',  'shape', 'text', 'mobile','animation','sprites', 'bitmap', 'toolkit', 'stage', 'event','socket', 'ranky'])



        +S(['filt',  'draw', 'defaultMug','routeTests', 'nav', 'api','knock' ,'angu', 'bbtemps','backbone1','people','mar'])

        +S(['pics','animate','imagine','work','tween','tw0','universe','melon','gquery','ph','phaser0','phaser','ninja','j3','invaders','display','three'])

        +S(['create','solve','playgame','iso','users','share','chat' ,'messages', 'boxWorld','boxWorldMore','walls'])

        +S(['makeworld', 'b2dSensors','playerWorld',   'boxRev','weld','prism','coll','gamey','pong','easelbox','joints','wheel'])

        +S(['backbone','emitter','p2fiddle','ragdoll','p2constraints','unigame','tilemapping','launcher','fullgames','p2physics'])

        +S(['controls','orbs',  'app', 'shooter','boxBody','talkjs','mario','squares','edges','boxgame','boxDebug','boxFixt'])

        +S(['boxShapes','player','pinball','boxsprite','examples'])

        body



























