extends l/ly
block C

    .container
        .row
            .col-md-1
                a(href="#")
                h3.text-center
                    img.img-responsive.img-circle(src="#U.{mugPath}")
                p Type 1
                a.btn.btn-success(href="#") Signup!

            .col-md-2
                a(href="#")
                h3.text-center
                    img(src="me.png").img-responsive.img-circle
                p Type 3
                a.btn.btn-info(href="#") Login!

            .col-md-8.well
                a(href="#")
                h3.text-center
                    img.img-responsive.img-circle(src="#{mugPath}")

































