include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    
        +css('bs')
        +css('bs-theme')
        
        
        // *** BOTH  
        +S(['us', 'string', 'moment', 'superJs', 'gee', 'console', 'both'])
        
        
        // *** FRONT 
        //JQUERY DEPS
        +S([ 'jq', 'jQueryPlus', 'frontOb', 'defs'])
        //SUPER JQUERY, FRONT, RULES
        +S(['superJQuery', 'superJQuerySty', 'superJQueryAnim', 'rules'])
        //HANDY
        +S(['handy', 'handyInputs', 'handyCanvas', 'handyDivs', 'handyEl', 'handyImage', 'handyIpsum', 'handyLists', 'handyNest', 'handyText' ])
        //FRONT APPS
        +S(['superWebApps', 'flexApps'])
        
        // ***CLIPPER
        +S(['gpc', 'gpcApp0', 'clipperBase', 'clipper'])
        
        
        // *** CANVAS ELEMENT
        //CONTEXT
        +S(['ctxProto', 'superContext2D']) 
        +S([ 'ctxColor', 'ctxPaths','ctxTransform', 'drawImage','gradients','pixels']) 
        
        +S(['ctxCrop','ctxClip'])
        +S([ 'polyCtx'])
        //CONTEXT APPS
        +S([ 'ctxApps', 'ctxBad','ctxImgApps','ctxPathApps','ctxPixelApps' ])
        
        
        //CANVAS
        +S(['canEl', 'superCanvas' ])
        +S([ 'canGradProto', 'canGrad', 'canPixel', 'canText','canTransform','canDraw','canPath' ])
        
        +S(['parallax'])
        //CANVAS  APPS
        +S(['canAppsData','canApps', 'canGradApps','canLoaderApps','canBad','canFormat','canHull','canRub'])
        //MUGGY CANVAS
        +S(['canMug'])
        
        //TWITTER BOOTSTRAP 4
        +S(['bs', 'boot4', 'bootButtons', 'bs4More' ,   'dropdown', 'navbar'])
        
        //BACKBONE
        +S(['bb', 'bbBase', 'bbCore', 'bbEvent', 'bbModel', 'bbRoute', 'bbRtr', 'bbView', 'perfect'])
        
        
        //CREATE DEPS
        +S(['cjs', 'cjsMC'])
        
        
     
        
        //EASEL
        +S(['easelBase','easelDraw','easelText','ticker','tran'])
        +S(['dOProto', 'containerProto','ctProtoBm','easelGraphicsProto','easelShapeProto', 'easelShapeProtoColor','easelTextProto','eDProto','stageProto'])
        
        // EASEL APPS
        +S(['easelApps','easelBitmapFillApps','easelShapeApps','easelTextApps','injector','examples'])
        +S(['easelAppsMore', 'easelBalls', 'easelGradApps', 'graphicsApps', 'stageApps','easelMouseApps'])
        +S(['easelCirApps','graphTest','promote','nip','iso','injector','failApps','easelPolApps','alphaMaskReveal','distract','bowl'])
        //LOADER
        +S(['loader', 'loaderProto', 'loaderApps'])


        // SPRITE SHEET
        +S(['spriteProto','SSProto', 'SSBuilderProto'])
        +S(['spriteSheet', 'meSprite'])
        +S(['SSData','SSApps'])
        
        
        // TWEEN
        +S(['tween','easing','tweenProto','displayObTween', 'tweenData','tweenApps'])
        
        +loadApps(app, pam)
        
        
    body
        h1 jade worked
         