body
    h1 admin

    br
    br


    p search
    input(type='text', id='search')
    button(id='search' onclick="window.location='/search/'+ $('input#search').val()") submit



    p add new message
    input(type='text', id='justTopic')
    button(id='justTopic') just topic

    br

    input(type='text', id='topic')
    input(type='text', id='message')
    button(id='topicMessage') topic and message

    h1 topics:


    each topic in topics
        span #{topic.topic} -


    br
    br

    h1 messages:

    each message in messages
        p #{message.topic} : #{message.message}


    br
    br




    script(type="text/javascript", src="jq.js")
    script(type="text/javascript", src="admin.js")
