include ../u
include ../h
include ../m
!!! 5
html(lang="en")
    head
        //+css('bs')
        //+css('themes')
        +S(["us","jq","bs","cjs","socket.io/socket.io"])
        //+S(['graphics','canvas'])

    body
        block C

