extends l/ly
block C

    .container-fluid
        .jumbotron
            .row
                .col-md-1.text-center
                // h5 #{U.username}
                img(src="#{mugPath}").img-responsive.img-circle
                .col-md-5
                    h4.alert.alert-success
                        p I think its time for you to make your own cfutty. &nbsp  YOu are logged in.  this is wappy page!
                            a.btn.btn-primary(href='/cutty') ahuuhhh?

    .container
        .row
            .col-md-1
                a(href="#")
                h3.text-center
                    img.img-responsive.img-circle(src="#U.{mugPath}")
                p Type 1
                a.btn.btn-success(href="#") Signup!

            .col-md-2
                a(href="#")
                h3.text-center
                    img(src="me.png").img-responsive.img-circle
                p Type 3
                a.btn.btn-info(href="#") Login!
            .col-md-8.well
                a(href="#")
                h3.text-center
                    img.img-responsive.img-circle(src="#{mugPath}")

































