
<br>
<a href="javascript:void(0)" onClick='window.location.reload()'>


<H1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: green">dirt</span><span style="color:white">page</span></H1>







</a>


<center> 

<h5>


<form name="form1" action="search5.php" method="post" >
    topic:
 
 <input type="text" name="theirName" size="28" value="" maxlength="25" >

<input type="button" value="search">

  


</form>
        
     

    <A HREF="javascript:void(0)" onClick="searchTopics(document.form1.theirName.value)">
  <span style="color: khaki">search</span></A>


 




    
    
</h5>

</center>        

<center>
<h4>
<span style="color:blue">

<A HREF="javascript:void(0)" onclick='ajaxFunction("about2.html")'>
about</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<A HREF="javascript:void(0)" onclick='ajaxFunction("recent2.php")'>
recent</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<A HREF="javascript:void(0)" onclick='ajaxFunction("random2.php")'>
random</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<A HREF="javascript:void(0)" onclick='ajaxFunction("toprated2.php")'>
top-rated</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<A HREF="javascript:void(0)" onclick='ajaxFunction("featured.html")'>
featured</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<A HREF="javascript:void(0)" onclick='ajaxFunction("browse2.php")'>
log</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://en.wikipedia.org/wiki/Dirt_(TV_series)">contact</a>
</span>
</h4>
</center>